a.docri-highlighted-deleter {
	display: inline;
	cursor: pointer;
	padding: 0;
	margin: 0;
	line-height: 0;
	position: absolute;
	width: 128px;
	height: 128px;
	left: -64px;
	top: -64px;
	background-image: url("chrome-extension://fhcjbjajheibomcjpdedlnnhenehjaej/img/delete.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}