<!-- start header -->
<header id="header">
    <!-- start container -->
    <div class="container" class="row" data-ng-init="init()">
        <!-- start logo -->
        <section id="logo">
            <a href="#" title="logo"><img src="app/images/logo.jpg" alt="logo" /></a>
        </section>
        <!-- end logo -->

        <!-- start icon -->
        <section class="navbar-right icons">
            <a href="#" title="message"><img src="app/images/message.png" alt="message"></a>
            <a href="#" title="rss"><img src="app/images/rss.png" alt="rss"></a>
            <a href="personnelinfo.html" title="profile"><img src="app/images/profile_pic.png" alt="profil_pic"></a>
        </section>
        <!-- end icon -->

        <!-- start search -->
        <section class="search">
            <form class="navbar-form pull-right form-search">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                    <input type="text" class="form-control" id="countries">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </section>
        <!-- end search -->

    </div>
    <!-- end container -->
</header>
<!-- end header -->





<section id="menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="home">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrator <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="new_profile">Profile New</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Manage Absences</a></li>
                    <li><a href="#">Favourite Subsitutes</a></li>
                    <li><a href="#">Lesson Plan</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

</section>




<section class="content">
    <div>
        <p></p>Welcome {{user.lastName}} {{user.firstName}} </p>
        <a href="#restricted">Go to restricted page</a>
        <br />
        <a id="signout">Click to sign out</a>
    </div>


    <h1>Scribe</h1>
    <div class="toolbar">
        <button data-command-name="bold">Bold</button>
        <button data-command-name="italic">Italic</button>
        <button data-command-name="underline">Underline</button>
        <button data-command-name="strikeThrough">Strike Through</button>
        <button data-command-name="removeFormat">Remove Formatting</button>
        <button data-command-name="linkPrompt">Link</button>
        <button data-command-name="unlink">Unlink</button>
        <button data-command-name="insertOrderedList">Ordered List</button>
        <button data-command-name="insertUnorderedList">Unordered List</button>
        <button data-command-name="indent">Indent</button>
        <button data-command-name="outdent">Outdent</button>
        <button data-command-name="blockquote">Blockquote</button>
        <button data-command-name="code">Code</button>
        <button data-command-name="h2">H2</button>
        <button data-command-name="undo">Undo</button>
        <button data-command-name="redo">Redo</button>
    </div>
    <div class="scribe"></div>
    <h2>Output</h2>
    <textarea class="scribe-html" rows="15" readonly></textarea>


</section>



<!-- start footer -->
<footer>
    <div class="container footer">
        <section class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <div class="center"><img src="app/images/footer-logo.png"></div>
        </section>
        <section class="col-md-4 col-lg-4 col-sm-12 col-xs-12 footer-menu">
            <ul>
                <li><a href="#" title="Contact Us">Contact Us</a></li>
                <li><a href="#" title="Press &amp; Media">Press &amp; Media</a></li>
                <li><a href="#" title="Site Map">Site Map</a></li>
            </ul>
        </section>
        <section class="col-md-4 col-lg-4 col-sm-12 col-xs-12 copyright">
            <p class="pull-right">Copyright 2014 SFE. All Rights Reserved.<br/>
                Web Design by <a href="#" title="Dit Interactive">Dit Interactive</a></p>
        </section>
    </div>
</footer>
<!-- end footer -->