<div class="row">
  <div class="col-md-12" ng-controller="MainCtrl">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label">Main Email Address</label>
        <input type="text" class="form-control" ng-model="user.email">
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" class="form-control" ng-model="user.password">
      </div>

      <button type="button" ng-click="Login()" class="btn btn-default">Submit</button>
    </form>
      <button type="button" ng-click="acessApi()" class="btn btn-default">Access APIt</button>
      <br/>
      <ul ng-repeat="user in userList">
          <li>{{user.email}}</li>
      </ul>

  </div>


</div>
