


<section class="Loginform">
  <!-- start container -->
  <div class="container">
    <section id="logo">
      <a href="#" title="logo"><img src="app/images/logo.jpg" alt="logo" /></a>
    </section>
    <!-- end logo -->
    <form class="form-signin" action="#" method="post">
      <h2 class="form-signin-heading">Login</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <!--comment this line and track google analytics events -->
      <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
    <section class="text-danger">
      {{error}}
    </section>
  </div>
  <!-- end container -->
</section>
