<section class="content">
  <div>
    <p></p>Welcome {{user.lastName}} {{user.firstName}} </p>
    <a ui-sref="restricted">Go to restricted page</a>
    <br />
    <a ng-click="signout()">Click to sign out</a>
  </div>
  <h1>Scribe</h1>
  <div class="toolbar">
    <button data-command-name="bold">Bold</button>
    <button data-command-name="italic">Italic</button>
    <button data-command-name="underline">Underline</button>
    <button data-command-name="strikeThrough">Strike Through</button>
    <button data-command-name="removeFormat">Remove Formatting</button>
    <button data-command-name="linkPrompt">Link</button>
    <button data-command-name="unlink">Unlink</button>
    <button data-command-name="insertOrderedList">Ordered List</button>
    <button data-command-name="insertUnorderedList">Unordered List</button>
    <button data-command-name="indent">Indent</button>
    <button data-command-name="outdent">Outdent</button>
    <button data-command-name="blockquote">Blockquote</button>
    <button data-command-name="code">Code</button>
    <button data-command-name="h2">H2</button>
    <button data-command-name="undo">Undo</button>
    <button data-command-name="redo">Redo</button>
  </div>
  <div class="scribe"></div>
  <h2>Output</h2>
  <textarea class="scribe-html" rows="15" readonly></textarea>
</section>
