<section id="menu">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a ui-sref="home">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrator <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="home.new_profile">Profile New</a></li>
            </ul>
          </li>
          <li><a href="#">Manage Absences</a></li>
          <li><a href="#">Favourite Subsitutes</a></li>
          <li><a href="#">Lesson Plan</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

</section>
