<!-- start footer -->
<footer>
    <div class="container footer">
        <section class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <div class="center"><img src="../images/footer-logo.png"></div>
        </section>
        <section class="col-md-4 col-lg-4 col-sm-12 col-xs-12 footer-menu">
            <ul>
                <li><a href="#" title="Contact Us">Contact Us</a></li>
                <li><a href="#" title="Press &amp; Media">Press &amp; Media</a></li>
                <li><a href="#" title="Site Map">Site Map</a></li>
            </ul>
        </section>
        <section class="col-md-4 col-lg-4 col-sm-12 col-xs-12 copyright">
            <p class="pull-right">Copyright 2014 SFE. All Rights Reserved.<br/>
                Web Design by <a href="#" title="Dit Interactive">Dit Interactive</a></p>
        </section>
    </div>
</footer>
<!-- end footer -->
