
<!-- start header -->
<header id="header">
    <!-- start container -->
    <div class="container" class="row" data-ng-init="init()">
        <!-- start logo -->
        <section id="logo">
            <a href="#" title="logo"><img src="../images/logo.jpg" alt="logo" /></a>
        </section>
        <!-- end logo -->

        <!-- start icon -->
        <section class="navbar-right icons">
            <a href="#" title="message"><img src="../images/message.png" alt="message"></a>
            <a href="#" title="rss"><img src="../images/rss.png" alt="rss"></a>
            <a href="personnelinfo.html" title="profile"><img src="../images/profile_pic.png" alt="profil_pic"></a>
        </section>
        <!-- end icon -->

        <!-- start search -->
        <section class="search">
            <form class="navbar-form pull-right form-search">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                    <input type="text" class="form-control" id="countries">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </section>
        <!-- end search -->

    </div>
    <!-- end container -->

    <div ui-router="menu"></div>
</header>
<!-- end header -->
