@charset "utf-8";

/*--------------------------------------------------------------------------------------------------
Responsive CSS Styles for <SFE>.
version:   1.0
--------------------------------------------------------------------------------------------------*/

/* = Mobile and iphone device Portrait
--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px){
#header{margin-top: 40px;}
.header-menu{display: none;}
.km-view{display: block;}
.km-content{z-index: 99999 !important;}
.km-view-title{background: #007ab4;}
.km-navbar .km-button{color: #fff;}

#logo{width: 100%;margin: 0 auto 15px;text-align: center;}
.icons {margin: 0 auto;text-align: center;}
.search {width: 100%;text-align: center;margin: 10px auto;display: inline-block;}
.input-group .form-control, .k-autocomplete .k-input{width: 158px !important;}
.form-search{margin:0; }
.select-view{float: right;padding: 9px 5px 0;margin: 0px auto 10px;width: 100%;text-align: center;}
.k-scheduler-toolbar{margin: 0 auto;text-align: center;}
.header-menu ul{padding: 0;}
.k-scheduler-datecolumn{width: 4em;}
.k-window{width: 100%;}
.color-box{padding: 25px 0 0;}
.color-box li{float: none;padding: 5px 0;}
.colrow{margin: 0 0 40px;}
.footer-menu{padding: 0 15px ;}
.footer-menu li:first-child::before{padding: 0;}
.copyright p{float:left !important;}

.slicknav_menu{display: block;background: #007ab4 !important;}
.slicknav_btn{background: #007ab4 !important;}
.slicknav_nav .slicknav_arrow{display: none;}
.slicknav_menu ul li,.k-link:link{font: 18px/45px 'muliregular';color: #ffffff !important;text-transform: uppercase;}
.slicknav_menu ul li ul {background:#007ab4;}
.slicknav_nav .slicknav_row:hover{background: none !important;text-decoration: underline;}
.slicknav_nav a{color:#fff !important;}
.slicknav_nav a:hover{background: none !important;}

#scheduler .k-link:link{color: #282828!important;}
.form-text ul{width: 280px !important;}
.form-text li{float: none;}
.form-column{padding: 10px 0;}
.k-picker-wrap{width: auto !important;}
.form-textarea .k-upload{width: 280px;}
.k-textarea{width: 210px;}
}
/* = End Mobile and iphone device Portrait
--------------------------------------------------------------------------------------------------*/


/* = Mobile and iphone device Landscape
--------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {	
#header{margin-top: 40px;}
.header-menu{display: none;}
.km-view{display: block;}
.km-content{z-index: 99999 !important;}
.km-view-title{background: #007ab4;}
.km-navbar .km-button{color: #fff;}
.k-window{width: 100%;}
.icons{float: right;}
.search{width: 96%;text-align: left;margin: 0 auto 15px;clear: both;display: inline-block;}
.color-box{display: inline-block;}
.footer-menu{padding: 0;}
.footer-menu li:first-child::before{padding: 0 8px;}
.copyright p{float: left !important;}



.slicknav_menu{display: block;background: #007ab4 !important;}
.slicknav_btn{background: #007ab4 !important;}
.slicknav_nav .slicknav_arrow{display: none;}
.slicknav_menu ul li,.k-link:link{font: 18px/45px 'muliregular';color: #ffffff !important;text-transform: uppercase;}
.slicknav_menu ul li ul {background:#007ab4;}
.slicknav_nav .slicknav_row:hover{background: none !important;text-decoration: underline;}
.slicknav_nav a{color:#fff !important;}
.slicknav_nav a:hover{background: none !important;}

#scheduler .k-link:link{color: #282828!important;}
.form-text ul{width: 280px !important;}
.form-text li{float: none;}
.form-text li .k-dropdown-wrap{width: 285px;}
.form-column{padding: 10px 0;}
.k-picker-wrap{width: auto !important;}
.form-textarea .k-upload{width: 250px;}
.k-textarea{width: 315px;}

.scheduler-single .k-header ul{float: none;margin: 10px auto;text-align: center;}

}
/* = End Mobile and iphone device Landscape
--------------------------------------------------------------------------------------------------*/

/* = Ipad Portrait
--------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
.slicknav_nav a{color:#fff !important;}
.search {width: 85%;text-align: center;margin: 11px 0;display: inline-block;}
.header-menu ul{padding: 0;}
.header-menu ul li a{padding-left:0 !important; }
.colrow{margin: 0 0 20px;display: block;}
.footer-menu{padding: 0;}
.footer-menu li:first-child::before{padding: 0 7px;}
.copyright p{float: left !important;}

.form-column{margin: 20px 0;padding: 0;}

}
/* = End Ipad portrait
--------------------------------------------------------------------------------------------------*/

/* = Ipad Landscape
--------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1024px) {
.slicknav_nav a{color:#fff !important;}
.container{width: 1020px;}
footer{display: inline-block;}
.footer-menu{padding: 0px;}
.form-column{margin: 20px 0;padding: 0;}
.form-textarea .k-upload{width: auto;float: none;display: inline-block;background: #fff;}

}
/* = End Ipad Landscape
--------------------------------------------------------------------------------------------------*/

