@charset "utf-8";









/*CUSTOM*/
* {
  box-sizing: border-box;
}
.toolbar {
  margin-bottom: 1em;
}
button {
  height: 3em;
}
button.active {
  border-style: inset;
}
.scribe {
  height: 370px;
  overflow: auto;
  margin-bottom: 1em;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 0.5em;
}
.scribe-html {
  width: 100%;
  font-family: monospace;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 0.5em;
}
p {
  margin-top: 0;
}